.content {
  display: flex;
  padding: 48px 0;
  padding-left: var(--beaver-content-padding-left);
  padding-right: var(--beaver-content-padding-right);
}

.contentInner {
  padding: 0 24px;
}

.docContent {
  width: var(--beaver-doc-content-width);
  padding-right: var(--beaver-layout-padding-x);
  padding: 20px 56px 80px;
}

.asideContainer {
  position: sticky;
  top: 0;
  margin-top: calc(var(--beaver-nav-height) * -1 - 32px);
  padding-top: calc(var(--beaver-nav-height) + 32px);
  height: 100vh;
  scrollbar-width: none;
}
