$sidebarWidth: calc(var(--beaver-sidebar-width) + ((100vw - var(--beaver-layout-max-width)) / 2));

$sidebarPadding: calc(32px + (100vw - var(--beaver-layout-max-width)) / 2);

.content {
  padding: 24px 24px;
  margin-left: calc(
    var(--beaver-sidebar-width) + ((100vw - var(--beaver-layout-max-width)) / 2) + 68px
  );
  padding-right: $sidebarPadding;
  // 100 vw - sidebar 的宽度  - 右侧大纲栏的宽度 - padding-right
  max-width: calc(100vw - $sidebarWidth - var(--beaver-aside-width) - 100px);
}
